---
layout: master
title: "Denmead Brass"
hero-image: "/images/Hero.png"
---
<div class="container">
  <div class="columns is-multiline">
    {% assign sorted = site.posts 
      | where_exp: "x", "x.categories contains 'gigs' or x.category == 'gigs'" 
      | sort: 'date' %}
    {% capture now %}{{"now" | date: "%s" | plus: 0 }}{% endcapture %}
    {% assign postCounter = 0 %}
    {% for post in sorted %}
      {% capture post_date %}{{post.date | date: "%s" | plus: 0 }}{% endcapture %}
      {% if post_date >= now %}
        {% assign postCounter = postCounter | plus: 1 %}
        <div class="column is-half">
          <a href="{{ post.url }}">
            {% include gigcard.html %}
          </a>
        </div>
      {% endif %}
      {% if postCounter >= 4 %}
        {% break %}
      {% endif %}
    {% endfor %}
  </div>

  <div id="columns" class="columns is-multiline">

    <div id="col1" class="column is-full">
      <a href="/book.html">
        <div class="card">
          <div class="card-content">
            <div class="title is-4">
              Book Denmead Brass For Your Event
            </div>
            <div class="content">
              <p>Add the joy of live music to your event with Denmead Brass. We play at all types of events, indoors and outside, including formal concerts, country shows, fetes, community celebrations, beer festivals, formal dinners, private parties and even weddings. A full brass band too big? We can also provide smaller ensembles to meet your exact needs.</p>
              <div class="buttons is-right">
                <span class="button is-link">More</span>
              </div>
                    </div>
          </div>
        </div>
      </a>
    </div>

    <div id="col2" class="column is-full">
      <a href="/hear.html">
        <div class="card">
          <div class="card-content">
            <div class="title is-4">
              Hear Denmead Brass Play
            </div>
            <div class="content">
              <p>Come and hear Denmead Brass play live at one of our upcoming public appearances. We play music in all sorts of styles from film, shows, pop, jazz, classical, as well as traditional brass band music.</p>
              <div class="buttons is-right">
                <span class="button is-link">More</span>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div id="col2" class="column is-full">
      <a href="/join.html">
        <div class="card">
          <div class="card-content">
            <div class="title is-4">
              Join Denmead Brass
            </div>
            <div class="content">
              <p>If you play a brass instrument why not join Denmead Brass? Whether you are an experienced brass bander or are new to banding, whether you have been playing regularly or have taken a break from playing why not come along? Having a Main Band and Training Band you will find the right level of support and challenge at Denmead Brass.</p>
              <div class="buttons is-right">
                <span class="button is-link">More</span>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>

  </div>

</div>
