<script type="text/javascript">var submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted)  {window.location='/contact_thankyou/';}"></iframe>


<form action="https://docs.google.com/forms/d/e/1FAIpQLSfGJW1A05gS9OGfs9dZHi0ciUZubNhUJ6K1QfD0KfiY0VegYQ/formResponse?embedded=true" target="hidden_iframe" method="POST" onsubmit="submitted=true;">

    <p>Name:</p>
    <input type="text" name="entry.248124608" tabindex="10" required="">
    <p>Email:</p>
    <input type="text" name="entry.1423937226" tabindex="11" required="">
    <p>Phone:</p>
    <input type="text" name="entry.801243602" tabindex="12">
    <p>Message:</p>
    <textarea name="entry.2013843667" tabindex="13" required="" rows="10" cols="80"></textarea>

     <input type="submit" value="Send" tabindex="14"/>
</form>

