<script type="text/javascript">var submitted=false;</script>

<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted)  {window.location='/contact_thankyou.html';}"></iframe>


<form action="https://docs.google.com/forms/d/e/1FAIpQLSfGJW1A05gS9OGfs9dZHi0ciUZubNhUJ6K1QfD0KfiY0VegYQ/formResponse?embedded=true" target="hidden_iframe" method="POST" onsubmit="submitted=true;">

    <div class="field">
        <label class="label">Name</label>
        <div class="control">
            <input class="input" type="text" name="entry.248124608" style="max-width: 40em;" maxlength="50" tabindex="10" required="">
        </div>
    </div>

    <div class="field">
        <label class="label">Email</label>
        <div class="control">
            <input class="input" type="email" name="entry.1423937226" style="max-width: 40em;" maxlength="100" tabindex="11" required="">
        </div>
    </div>

    <div class="field">
        <label class="label">Phone</label>
        <div class="control">
            <input class="input" type="tel" name="entry.801243602" style="max-width: 40em;" maxlength="16" tabindex="12" >
        </div>
    </div>

    <div class="field">
        <label class="label">Message</label>
        <div class="control">
            <textarea class="textarea" name="entry.2013843667" tabindex="13" style="resize: none" maxlength="2000" required="" rows="10" cols="80"></textarea>
        </div>
    </div>

    <div class="control">
        <input class="button is-link" type="submit" value="Send" tabindex="14"/>
    </div>  
</form>
