<nav class="navbar is-fixed-top has-background-dark is-size-4-touch is-size-5-desktop" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="/images/DB_logo_transparent_40x40.png" width="40" height="40">
          </a>  

          <a role="button" class="navbar-burger mr-5" aria-label="menu" aria-expanded="false" data-target="mainNavbar">
                <span class="has-background-warning" style="width:25px; height:2px; top:calc(50% - 8px); transform-origin: 10px 2px" aria-hidden="true"></span>
                <span class="has-background-warning" style="width:25px; height:2px" aria-hidden="true"></span>
                <span class="has-background-warning" style="width:25px; height:2px; top:calc(50% + 6px); transform-origin: 10px 1px" aria-hidden="true"></span>
              </a>
            </div>
  
    <div id="mainNavbar" class="navbar-menu has-background-dark">
      <div class="navbar-start">
        {% for item in site.data.nav_items %}
        <a class="navbar-item has-text-warning" href="{{ item.url}}">
            {{ item.title }}
          </a>
      {% endfor %}

      </div>
  
      </div>
    </div>
  </nav>


  